* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
	scroll-behavior: smooth;
	
}
body {
	background-color: #e1e1e1;
}

#lista-header {
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
padding: 30px;
}

#img-header {
	border-radius: 75%;
	width: 100%;
}

.li-header {
	padding: 10px;
}

h1 {
	text-align: center;
    font-size: 21px;
    background: #24fcbc;
    border-radius: 100%;
	padding: 25px;
	color: #ffffff;
	text-shadow: 2px 2px 5px #000000;
}

.formularios,
.li-api {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	text-align: center;
    font-size: 21px;
    background: #24fcbc;
	margin: 25px;
	padding: 5px;
	color: #ffffff;
	text-shadow: 2px 2px 5px #000000;
}

figure {
	display: flex;
	justify-content: center;
}

.ilustración-persona {
	height: 200px;
	margin-top: 10px;
}

.img-api {
    height: 30px;
}

/* RESPONSIVE tablet */

@media (max-width: 768px) {

	#img-header {
		border-radius: 75%;
		width: 50%;
	}

	#lista-header {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		padding: 30px;
		padding-left: 260px;
	}
}